@page "/addjoboffer"
@using RobotaNearMe.Lib.Modelos
@using RobotaNearMe.Client.Services
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Add job offer</h3>

<form @onsubmit="OnSubmit">
    <div class="top-controls card" style="color:black">
        <div class="card-header">
            <label>
                Add category
            </label>
        </div>
        <div class="card-body" style="display:flex; flex-direction:column;">
            <div class="form-floating mb-3">
                <input required @bind="JobOffer.Title" class="form-control" placeholder="Please enter your title." />
                <label class="form-label">Title</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input required @bind="JobOffer.Description" class="form-control" placeholder="Please enter your descrition." />
                <label class="form-label">Description </label>
                <span class="text-danger"></span>
            </div>
            <select style="margin-top: 15px;" @bind="_jobFieldId" class="form-control">
                @if (_jobFields != null)
                {
                    @foreach (var field in _jobFields)
                    {
                        <option value="@field.Id">@field.Field</option>
                    }
                }
            </select>
            <select style="margin-top: 15px;" @bind="_selectedLocation" class="form-control">
                @foreach (LocationRegion region in Enum.GetValues(typeof(LocationRegion)))
                {
                    <option value="@(region)">@region.ToString()</option>
                }
            </select>
            <select style="margin-top: 15px;" @bind="_selectedJobType" class="form-control">
                @foreach (JobType jobtypos in Enum.GetValues(typeof(JobType)))
                {
                    <option value="@(jobtypos)">@jobtypos.ToString()</option>
                }
            </select>
            <div style="margin-top: 15px;" class="form-floating mb-3">
                <input required @bind="JobOffer.Benefits" class="form-control" placeholder="Please enter your benefits." />
                <label class="form-label">Benefits :</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input required @bind="JobOffer.Language" class="form-control" placeholder="Please enter your languages." />
                <label class="form-label">Language :</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="number" min="1" max="1000000" required @bind="JobOffer.Salary" class="form-control" placeholder="Please enter your salary." />
                <label class="form-label">Salary :</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <div>
                    <label class="form-label">Remote : </label> <input type="checkbox" @bind="JobOffer.Remote" /> 
                </div>
            </div>
                
        </div>
        <div class="card-footer">
            <button class="btn-success" @onchange="OnSubmit" type="submit"> Add job offer </button>
        </div>
    </div>
</form>

@inject ApiService _service
@code {
    private JobOffer JobOffer = new();
    private LocationRegion? _selectedLocation;
    private JobType? _selectedJobType;
    private List<int> _jobFieldIds = new();
    private int _jobFieldId;
    private List<JobField> _jobFields;
    private Company _company;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        string mail = user.Identity.Name;
        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            _jobFields = _service.GetJobFields().ToList();
            var useros = _service.GetUserByName(mail);
            _company = _service.GetCompanyById(useros.Id);
        }
        else
        {

        }

    }
    private void OnSubmit()
    {
        if (_company != null)
        {
            //JobOffer jo = new();
            JobOffer.Added = DateTime.UtcNow;
            JobOffer.LastUpdated = DateTime.UtcNow;
            JobOffer.LocationId = (LocationRegion)_selectedLocation;
            JobOffer.StillValid = true;
            JobOffer.CompanyId = _company.Id;
            JobOffer.JobTypeId = (JobType)_selectedJobType;
            JobOffer.JobFieldId = _jobFieldId;
            JobOffer.IntrestedInIt = 0;
            _service.PostJobOffer(JobOffer);
        }
        //List<JobOffer> newOffers = _jobOffers.Where(x => x.JobFieldId == _jobFieldId).ToList();
    }

}
